---
BasedOnStyle:  LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
ReflowComments:  true
SortIncludes:    true
UseTab:          Never
...
